In [8]:
import pandas as pd

## Confirmed cases

In [9]:
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed = pd.read_csv(url_confirmed)
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55492,55514,55518,55540,55557,55575,55580,55604,55617,55646
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,93075,93850,94651,95726,96838,97909,99062,100246,101285,102306
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,110711,110894,111069,111247,111418,111600,111764,111917,112094,112279
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,10503,10538,10555,10583,10610,10645,10672,10699,10712,10739
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,20366,20381,20389,20400,20452,20478,20499,20519,20548,20584

In [10]:
total_confirmed = confirmed.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = confirmed.columns[4:],
    var_name = "date",
    value_name = "confirmed"
)
total_confirmed.head()

  Province/State Country/Region       Lat       Long     date  confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Deaths

In [11]:
url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
deaths = pd.read_csv(url_deaths)
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2427,2427,2428,2428,2430,2430,2430,2432,2433,2435
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1555,1567,1582,1600,1617,1636,1653,1666,1681,1696
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2939,2943,2945,2947,2950,2954,2958,2961,2964,2967
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,107,107,107,107,107,107,107,107,109,110
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,492,493,494,496,498,498,498,499,499,500

In [12]:
total_deaths = deaths.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = deaths.columns[4:],
    var_name = "date",
    value_name = "deaths"
)
total_deaths.head()

  Province/State Country/Region       Lat       Long     date  deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

## Recovered cases

In [13]:
url_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
recovered = pd.read_csv(url_recovered)
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/14/21,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48395,48433,48514,48626,48798,48803,48820,48834,48895,48967
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,56764,57736,58794,59684,60675,61605,62533,63329,64318,65403
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,75999,76168,76330,76489,76640,76797,76940,77076,77225,77382
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,9911,9965,10022,10066,10101,10146,10170,10206,10245,10285
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,18795,18884,18929,18951,18972,18991,19005,19013,19190,19207

In [14]:
total_recovered = recovered.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = recovered.columns[4:],
    var_name = "date",
    value_name = "recovered"
)
total_recovered.head()

  Province/State Country/Region       Lat       Long     date  recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Merge data frames

In [18]:
covid_data = total_confirmed.merge(
    right = total_deaths,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
).merge(
    right = total_recovered,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
)
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

## Parse date

In [ ]:
covid_data["date"] = pd.to_datetime(covid_data["date"])

## NaNs

In [19]:
covid_data.isna().sum()

Province/State    75411
Country/Region        0
Lat                 399
Long                399
date                  0
confirmed             0
deaths                0
recovered          8379
dtype: int64

In [20]:
covid_data["recovered"] = covid_data["recovered"].fillna(0)
covid_data.isna().sum()

Province/State    75411
Country/Region        0
Lat                 399
Long                399
date                  0
confirmed             0
deaths                0
recovered             0
dtype: int64

## Active cases

In [24]:
covid_data["active"] = covid_data["confirmed"] - covid_data["deaths"] - covid_data["recovered"]
covid_data.head()

TypeError: cannot convert the series to <class 'int'>