In [3]:
import pandas as pd

## Confirmed cases

In [4]:
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed = pd.read_csv(url_confirmed)
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55514,55518,55540,55557,55575,55580,55604,55617,55646,55664
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,93850,94651,95726,96838,97909,99062,100246,101285,102306,103327
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,110894,111069,111247,111418,111600,111764,111917,112094,112279,112461
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,10538,10555,10583,10610,10645,10672,10699,10712,10739,10775
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,20381,20389,20400,20452,20478,20499,20519,20548,20584,20640

In [5]:
total_confirmed = confirmed.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = confirmed.columns[4:],
    var_name = "date",
    value_name = "confirmed"
)
total_confirmed.head()

  Province/State Country/Region       Lat       Long     date  confirmed
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Deaths

In [6]:
url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
deaths = pd.read_csv(url_deaths)
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2427,2428,2428,2430,2430,2430,2432,2433,2435,2436
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,1567,1582,1600,1617,1636,1653,1666,1681,1696,1715
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,2943,2945,2947,2950,2954,2958,2961,2964,2967,2970
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,107,107,107,107,107,107,107,109,110,110
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,493,494,496,498,498,498,499,499,500,501

In [7]:
total_deaths = deaths.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = deaths.columns[4:],
    var_name = "date",
    value_name = "deaths"
)
total_deaths.head()

  Province/State Country/Region       Lat       Long     date  deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

## Recovered cases

In [8]:
url_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
recovered = pd.read_csv(url_recovered)
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/15/21,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,48433,48514,48626,48798,48803,48820,48834,48895,48967,49086
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,57736,58794,59684,60675,61605,62533,63329,64318,65403,66309
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,76168,76330,76489,76640,76797,76940,77076,77225,77382,77537
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,9965,10022,10066,10101,10146,10170,10206,10245,10285,10319
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,18884,18929,18951,18972,18991,19005,19013,19190,19207,19221

In [9]:
total_recovered = recovered.melt(
    id_vars = ["Province/State", "Country/Region", "Lat", "Long"],
    value_vars = recovered.columns[4:],
    var_name = "date",
    value_name = "recovered"
)
total_recovered.head()

  Province/State Country/Region       Lat       Long     date  recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

## Merge data frames

In [10]:
covid_data = total_confirmed.merge(
    right = total_deaths,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
).merge(
    right = total_recovered,
    how = "left",
    on = ["Province/State", "Country/Region", "date", "Lat", "Long"]
)
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

## Parse date

In [11]:
covid_data["date"] = pd.to_datetime(covid_data["date"])

## NaNs

In [12]:
covid_data.isna().sum()

Province/State    75600
Country/Region        0
Lat                 400
Long                400
date                  0
confirmed             0
deaths                0
recovered          8400
dtype: int64

In [13]:
covid_data["recovered"] = covid_data["recovered"].fillna(0)
covid_data.isna().sum()

Province/State    75600
Country/Region        0
Lat                 400
Long                400
date                  0
confirmed             0
deaths                0
recovered             0
dtype: int64

## Active cases

In [14]:
covid_data["active"] = covid_data["confirmed"] - covid_data["deaths"] - covid_data["recovered"]
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered,active
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,0.0

## Get last updated date

In [15]:
covid_data["date"].tail()

109595   2021-02-24
109596   2021-02-24
109597   2021-02-24
109598   2021-02-24
109599   2021-02-24
Name: date, dtype: datetime64[ns]

In [16]:
covid_data["date"].iloc[-1].strftime("%B %d, %Y")

'February 24, 2021'

## Total confirmed cases

In [17]:
covid_data_1 = covid_data.groupby(["date"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()
covid_data_1.head()

        date  confirmed  deaths  recovered  active
0 2020-01-22        557      17       30.0   510.0
1 2020-01-23        655      18       32.0   605.0
2 2020-01-24        941      26       39.0   876.0
3 2020-01-25       1433      42       42.0  1349.0
4 2020-01-26       2118      56       56.0  2006.0

In [18]:
covid_data_1["confirmed"].iloc[-1]

112554301

## Shift values

In [20]:
covid_data_2 = covid_data.groupby(["date", "Country/Region"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()
covid_data_3 = covid_data_2[covid_data_2["Country/Region"] == "Uruguay"][["Country/Region", "date", "confirmed"]].reset_index()
covid_data_3["daily_confirmed"] = covid_data_3["confirmed"] - covid_data_3["confirmed"].shift(1)
covid_data_3

     index Country/Region       date  confirmed  daily_confirmed
0      183        Uruguay 2020-01-22          0              NaN
1      375        Uruguay 2020-01-23          0              0.0
2      567        Uruguay 2020-01-24          0              0.0
3      759        Uruguay 2020-01-25          0              0.0
4      951        Uruguay 2020-01-26          0              0.0
..     ...            ...        ...        ...              ...
395  76023        Uruguay 2021-02-20      52163            786.0
396  76215        Uruguay 2021-02-21      52815            652.0
397  76407        Uruguay 2021-02-22      53310            495.0
398  76599        Uruguay 2021-02-23      53973            663.0
399  76791        Uruguay 2021-02-24      54874            901.0

[400 rows x 5 columns]

## Rolling avg

In [22]:
covid_data_3["rolling_avg"] = covid_data_3["daily_confirmed"].rolling(window = 7).mean()
covid_data_3

     index Country/Region       date  confirmed  daily_confirmed  rolling_avg
0      183        Uruguay 2020-01-22          0              NaN          NaN
1      375        Uruguay 2020-01-23          0              0.0          NaN
2      567        Uruguay 2020-01-24          0              0.0          NaN
3      759        Uruguay 2020-01-25          0              0.0          NaN
4      951        Uruguay 2020-01-26          0              0.0          NaN
..     ...            ...        ...        ...              ...          ...
395  76023        Uruguay 2021-02-20      52163            786.0   529.142857
396  76215        Uruguay 2021-02-21      52815            652.0   558.000000
397  76407        Uruguay 2021-02-22      53310            495.0   564.285714
398  76599        Uruguay 2021-02-23      53973            663.0   606.857143
399  76791        Uruguay 2021-02-24      54874            901.0   666.571429

[400 rows x 6 columns]

## Add lat and long

In [ ]:
covid_data_4 = covid_data.groupby(["Lat", "Long", "Country/Region"])[["confirmed", "deaths", "recovered", "active"]].sum().reset_index()